* {
  :focus {
    outline:none;
  }
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

body {
  background-color: aliceblue;
}

h1 {
  font-family: inherit;
  font-weight: 100;
  display: inline-block;
  color: #073358;
}

.signOut {
  margin-left: 33%;
  background-color: aliceblue;
  color: #073358;
}

.chatContainer {
  color: white;
  background-color: #073358;
  border: 1px solid black;
  height: 250px;
  overflow: scroll;
  word-break: break-all;
  border-bottom: 1px solid white;
}

.postContent {
  width: 80%;
  text-align: left;
  display: inline-block;
}

.delete-post {
  background-color: aliceblue;
  color: #073358;
  margin-left: 2%;
  display: inline-block;
  margin-top: 0.5%;
}

.postContent {
  width: 90%;
  h5 {
    display: inline-block;
    margin-left: 1%;
  }
  p {
    display: inline-block;
    margin-left: 3%;
    word-break: break-all;
  }
}

.text {
  width: 99%;
  height: 20px;
}

.textBox {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

footer p {
  width: 100%;
  margin: 0;
  padding-top: 1%;
  color: #073358;
}
